*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #8AAA79;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
background-color: #B7B6C2;
padding: 30px 50px 30px 50px;
border-radius: 5px;
box-shadow: rgba(16, 9, 9, 0.35) 0px 5px 15px;;
}

h2{
text-align: center;
}

#qr-input{
    display: block;
    margin: 10px 0 10px 0;
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#qr-btn{
    padding: 10px;
    width: 100%;
    background-color: #8AAA79;
}

#qr-img{
    height: 30vh;
    display: block;
    margin-top: 20px;
}