*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
    text-transform: capitalize;
}
body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #a3a3cf;
    max-height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 0px;
}
#input{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
}
input[type="text"]::placeholder{
    color: white;
}
#submitBtn{
    font-size: 18px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: transparent;
    background-color: #d1ec25;
}
.content{
    color: white;
    font-weight: 700;
}